<div [ngStyle]="{'padding': '2em', 'background-color': 'white'}">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Google</nz-page-header-title>
        <nz-page-header-content>
        </nz-page-header-content>
    </nz-page-header>


    <nz-row nzGutter="40">
        <nz-col nzSpan="12" style="text-align: left">
            <div style="background: #ECECEC;padding:30px;">
                <app-user configId="google"></app-user>
            </div>
        </nz-col>
        <nz-col nzSpan="12">
            <div style="background: #ECECEC;padding:30px;">
              <p>Gmail labels crud</p>
            </div>
        </nz-col>
    </nz-row>
</div>