<div [ngStyle]="{'padding': '2em', 'background-color': 'white'}">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Gitlab</nz-page-header-title>
        <nz-page-header-extra>
           <!-- <button nz-button nzType="primary" (click)="forceRefresh()" nzSize="large"><span nz-icon nzType="reload" nzTheme="outline"></span> Force refresh</button> -->
        </nz-page-header-extra>
        <nz-page-header-content>
        </nz-page-header-content>
    </nz-page-header>


    <nz-row nzGutter="40">
        <nz-col nzSpan="12" style="text-align: left">
            <div style="background: #ECECEC;padding:30px;">
                <app-user configId="gitlab"></app-user>
            </div>
        </nz-col>
        <nz-col nzSpan="12">
            <div style="background: #ECECEC;padding:30px;">

                <nz-card style="text-align: left;" nzTitle="Gitlab User API" [nzExtra]="extraTemplate">
                    <pre *ngIf="gitlabUserData != ''">{{gitlabUserData | json}}</pre>
                </nz-card>
                <ng-template #extraTemplate>
                    <nz-button-group>
                        <button nz-button nzType="primary" (click)="getUserData()">Get user API data</button>
                    </nz-button-group>
                </ng-template>
                
            </div>
        </nz-col>
    </nz-row>
</div>